/* float rules*/

.left {
	float:left;
}

.right {
	float:right;
}

.clearboth {
	clear:both;
}

.width25 {
	width:25%;

}
.width20 {
	width:20%;
}
.width5 {
	width:5%;
	margin-left: 1.5em;
	margin-bottom: 2em;
	margin-top: 1.7em;
	margin-right: 1.5em;
}

.width100 {
	width:100%;
}

/*------ margin rules ------*/
.margintop {
	margin-top: 2rem;
}

.top45 {
	top:45%;
}

/*------ padding rules ------*/

.positionabs {
	position:absolute;
}

.paddingbottom20 {
	padding-bottom: 20px;

}

.paddingbottom10 {
	padding-bottom: 10px;
}

.paddingtop10 {
	padding-top: 10px;
}

.paddingtop40 {
	padding-top: 40px;
}
/*------- font rules ---------*/

h1,h2,h3,h4,h6 {
	font-family: "Playfair Display";

}

p {
	font-family: "raleway";
	font-size: 1rem;
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 2.25rem
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.25rem
}

h5 {
	font-size: 1rem;
	font-family: "raleway";

}

/* text styling */
.bold {
	font-style: normal;
	font-weight: 700;

}

.italic {
	font-style: italic;
}


.textcenter {
	text-align:center;
}

.textmiddle {
	display: inline-block;
  	vertical-align: middle;
}
.textshadow {
	text-shadow: 2px 2px 4px gray;

}

.colorwhite {
	color: white;
}

/* Z-Indexing */

.z2 {
	z-index: 2;
}

#cart {
    background-image: url("assets/images/cart-icon.svg");
}
#banner {
	clear: both;
    background-image: url("assets/images/flower-bkgd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;

}

/* bkgdimg */

.bkgdimg {
	clear:both;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#wave {
	background-image: url("assets/images/wave-bkgd.jpg");

}

.banner-girl {
	position: absolute;
	background-position: top;
	bottom: 0; left: 50%;
	min-height: 83%;
	width: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -10%;
	background-image: url("assets/images/banner-girl.png");
	z-index: 1;
	
}


.row {
	margin-bottom: 50px;
}

.subscribe