/* float rules*/

.left {
	float:left;
}

.right {
	float:right;
}

.clearboth {
	clear:both;
}

/* Width rules */
.width100 {
	width:100%;
}

.width25 {
	width:25%;
}

.width20 {
	width:20%;
}

.width12 {
	width:14%;
}

.width5 {
	width:5%;
}


}


/*------ margin rules ------*/
.margin2v3v {
	margin: 2vh 3vh;
}

.margin-top {
	margin-top:1em;
}

.margin2v {
	margin:2vh;
}

.marginbottom {
	margin-bottom:15vh;
}

.top45 {
	top:45%;
}

/*------ Border rules -------*/
.bordertopsmall {
	border-top:8px solid white;
}

hr {
	color:grey
}
/*------ padding rules ------*/

.positionabs {
	position:absolute;
}

.padding10 {
	padding:10px;
}

.padding50-5 {
	padding:50px 5px;
}

.padding50 {
	padding:50px;
}
.paddingtopbot15 {
	padding:15px 0px;
}


.paddingbottom40 {
	padding-bottom: 40px;
}

.paddingbottom30 {
	padding-bottom: 30px;
}

.paddingbottom10 {
	padding-bottom: 10px;
}

.paddingtop10 {
	padding-top: 10px;
}

.padding-top-50 {
	padding-top: 50px;
}

.paddingbottom60 {
	padding-bottom:60px;
}
/*------- font rules ---------*/

h1,h2,h3,h4,h6 {
	font-family: "Playfair Display", "serif";
}

p {
	font-family: "raleway";
	font-size: 1rem;
}

.products p {
	color:grey;
	font-weight:700;
}

.address p {
	color:white;
	font-family: "Playfiar Display", "serif";
		
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 2.25rem
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.25rem
}

.products h4 {
	color:rgb(226,87,76);
	font-weight:700;
	padding:10px;
}

h5 {
	font-size: 1rem;
	font-family: "raleway";
}

/* text styling */
.bold {
	font-style: normal;
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.textcenter {
	text-align:center;
}

.textmiddle {
	display: inline-block;
  	vertical-align: middle;
}

.textshadow {
	text-shadow: 2px 2px 4px grey;

}

.line-break {
	display:inline;
	content:"\a";
	white-space:pre;
	line-height:2em;

}

.textnormal{
	text-decoration: none;
}
/* text colors */
.colorwhite {
	color: white;

}

.colorgrey{
	color: grey;
}

.colorflamingo {
	color:rgb(226,87,76)
}

.colorgrey{
	color: grey;
}
/* Z-Indexing */

.z2 {
	z-index: 2;
}

/* background images */



#wave {
	background-image: url("assets/images/wave-bkgd.jpg");
	background-repeat: no-repeat;
	background-position:bottom;
	min-height:32vh;
	background-size:cover;
}

#banner {
	clear: both;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4),transparent), url("assets/images/flower-bkgd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:85vh;
    position: relative;
}

.banner-girl {
	position: absolute;
	background-position: top;
	bottom: 0; left: 50%;
	min-height: 83%;
	width: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -10%;
	background-image: url("assets/images/banner-girl.png");
	z-index: 1;

}

.clearfix:after {
	clear:both;
	content:" ";
	display:block;
}

.subform {
	background-color:white;
	border-radius:25px;
	width:30%;
	padding:4px;
	margin:0 auto;

}

input[type=text] {
	float:left;
	width:60%;
	background:none;
	border:none;
	padding:9px ;

}

input[type=submit] {
	float:right;
	width:30%;
	border-radius:25px;
	background-color:rgb(226,87,76);
	padding:5px;
	line-height: 1.5rem;
}

/* footer section*/
.backgroundblack{
	background-color:black;
}

/*Address*/
.address {
	padding: 15px 20px;
	font-size: 1rem;
}

/* Social Media Icons*/
.socialicons {
	padding-top: 5px;
	margin-left: 3em;
	line-height: 1.5rem;
}

.fa {
	color:white;
}

ul {
	padding-right: 2em
}

/* RESPONSIVE CSS */
@media only screen and (max-width:600px) 
	{


.mobile-spring {
	font-weight:400;
}

.width12 {
	width:35%;

}

.width5 {
	width:13%;
}

.width25 {
	width:100%;
	clear:both;
}

#wave {
	background-image: url("assets/images/wave-bkgd.jpg");
	background-repeat: no-repeat;
	background-position:bottom;
	min-height:32vh;
	background-size:auto;

}

#banner {
	background-position:center;
	min-height:41vh;
}

.banner-girl {
	width: 22%;
    margin-left: -11%;
    min-height: 90%;
}

h1 {
	font-size:2.5rem;
	font-weight:400;
}

.top45 {
	top:35.5%

}

.subform {
	background-color:white;
	border-radius:25px;
	width:100%;
	padding:4px;
	display:inline-block;

}

input[type=text] {
	float:left
	width:65%;
	background:none;
	border:none;
	padding:9px ;
	display:inline-block;

}

input[type=submit] {
	float:right;
	width:30%;
	border-radius:25px;
	background-color:rgb(226,87,76);
	padding:5px;
	line-height: 1.5rem;
}

.address-mobile {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 15px;
}

li {
    letter-spacing: 12.5px;
    display:inline-block;
}

.hide-for-mobile {
	display:none;	
}

footer {
	bottom:0;
}

.socialicons{
 float: none;
 text-align: center;
}

.socialicons ul{
 text-align: center;
 display: inline-block;
}

.socialicons li{
 padding: 10px;
 float: left;
}

.line-break {
	display:inline;
	content:"\a";
	white-space:pre-line;
	line-height:2em;

}
}

@media only screen and (max-width:1050px) and (min-width:601px)
	{

.banner-girl {
	width:24%;
	margin-left:-12%;
}

.width25 {
	float:left;
	width:50%;
}

#wave {
	background-size:auto;
}

.subform{
	width:70%;
}

.width12 {
	width:25%;

}

.width5 {
	width:10%;
}

.mobile-spring {
	font-weight:400;
}

h5 {
	font-size: 150%
}

h1{ 
	font-size: 387%; 
}